.App {
  text-align: center;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: #aeb6bf;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aeb6bf;
  border-radius: 5px;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

@media only screen and (max-width: 600px) {
  .rightDiv {
    display: none;
  }
  .inputBase {
    display: none;
  }
}
